@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1652776195329') format('truetype');
}

@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1652868759150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
  content: "\f0178";
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-shoujitianchong:before {
  content: "\e6b9";
}

.icon-31dingwei:before {
  content: "\f0205";
}

.icon-banshou:before {
  content: "\e604";
}

.icon-huidaodingbu:before {
  content: "\e6a4";
}

.icon-15tianbaohuan:before {
  content: "\e66d";
}

.icon-7:before {
  content: "\e67d";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-libao:before {
  content: "\e787";
}

.icon-duanxin:before {
  content: "\eb23";
}


.icon-F:before {
  content: "\f003d";
}

.icon-sanjiao3:before {
  content: "\f0124";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-gouwuchetianjia:before {
  content: "\e640";
}

.icon-qianbi:before {
  content: "\e69d";
}

.icon-jinrujiantouxiao:before {
  content: "\e8b9";
}

.icon-dianhuaqia:before {
  content: "\e733";
}

.icon-24gf-building:before {
  content: "\e838";
}

.icon-qianbao:before {
  content: "\e60f";
}